*.iml
.gradle
/local.properties
.idea/*
!.idea/ktfmt.xml
.DS_Store
/build
/captures
release/
.externalNativeBuild
.cxx
local.properties
keystore.properties

# Google Services (e.g. APIs or Firebase)
google-services.json

TODO.md
documentation/
